#
# .gitignore
#

# Netbeans IDE related
/nbproject

# PHPStorm + Eclipse IDE related
/.buildpath
/.cache
/.project
/.idea
/.settings

# VSCODE related
/.vscode

# OS related
.DS_Store
Thumbs.db

# Composer related
/vendor
composer.phar
composer.lock

vendor/
build/
